/* .grid img{

    height: 300px;
    width: 300px;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
} */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 15px;
    justify-items: center;
    align-items: center;
  }
  
  .grid img {
    max-width: 270px;
    height: auto;
  }
  